Dyson_Workflow/workflows/process_single_machine.json
{
  "name": "Process Single Machine",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-trigger",
      "name": "When Called By Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://backend:8000/api/v1/ai/decision/{{ $json.id }}",
        "authentication": "none",
        "responseFormat": "json",
        "options": {
          "timeout": 60000
        }
      },
      "id": "get-ai-decision",
      "name": "Get AI Decision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "create-wo",
              "leftValue": "={{ $json.decision }}",
              "rightValue": "CREATE_WORK_ORDER",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "send-notification",
              "leftValue": "={{ $json.decision }}",
              "rightValue": "SEND_NOTIFICATION",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "decision-router",
      "name": "Decision Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.confidence }}",
              "operation": "largerEqual",
              "value2": 0.7
            }
          ]
        }
      },
      "id": "check-confidence",
      "name": "Check Confidence >= 0.7",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        850,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/v1/work-orders",
        "authentication": "none",
        "sendBody": true,
        "contentType": "application/json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "machine_id",
              "value": "={{ $('Get AI Decision').item.json.machine_id }}"
            },
            {
              "name": "creation_source",
              "value": "AI"
            },
            {
              "name": "ai_decision_id",
              "value": "={{ $('Get AI Decision').item.json.id }}"
            },
            {
              "name": "priority",
              "value": "={{ $('Get AI Decision').item.json.priority }}"
            },
            {
              "name": "status",
              "value": "Pending_Approval"
            },
            {
              "name": "notes",
              "value": "=AI-generated work order. {{ $('Get AI Decision').item.json.explanation }}"
            }
          ]
        },
        "options": {}
      },
      "id": "create-work-order",
      "name": "Create Work Order",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1050,
        100
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://backend:8000/api/v1/machines/{{ $('Get AI Decision').item.json.machine_id }}",
        "options": {}
      },
      "id": "get-machine-details-wo",
      "name": "Get Machine Details (WO Path)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1250,
        100
      ]
    },
    {
      "parameters": {
        "fromEmail": "noreply@dyson-pm.com",
        "toEmail": "={{ $json.supplier_email }}",
        "subject": "=PM Work Order - {{ $json.machine_id }}",
        "emailType": "html",
        "message": "=<html>\n<body>\n<h2>Preventive Maintenance Work Order</h2>\n<p>Dear {{ $json.assigned_supplier }},</p>\n<p>This is an automated notification regarding preventive maintenance for the following machine:</p>\n<ul>\n  <li><strong>Machine ID:</strong> {{ $json.machine_id }}</li>\n  <li><strong>Machine Name:</strong> {{ $json.name }}</li>\n  <li><strong>Location:</strong> {{ $json.location }}</li>\n  <li><strong>PM Frequency:</strong> {{ $json.pm_frequency }}</li>\n  <li><strong>Next PM Date:</strong> {{ $json.next_pm_date }}</li>\n  <li><strong>Days Until PM:</strong> {{ $json.days_until_pm }} days</li>\n</ul>\n<p><strong>AI Decision:</strong> {{ $('Get AI Decision').item.json.explanation }}</p>\n<p><strong>Work Order Created:</strong> Yes</p>\n<p>Please schedule the maintenance at your earliest convenience.</p>\n<p>Best regards,<br>PM - AI-Assisted Demo</p>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-email-wo",
      "name": "Send Email (WO Path)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1450,
        100
      ],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://backend:8000/api/v1/machines/{{ $('Get AI Decision').item.json.machine_id }}",
        "options": {}
      },
      "id": "get-machine-details-notif",
      "name": "Get Machine Details (Notif Path)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        850,
        400
      ]
    },
    {
      "parameters": {
        "fromEmail": "noreply@dyson-pm.com",
        "toEmail": "={{ $json.supplier_email }}",
        "subject": "=PM Notification - {{ $json.machine_id }}",
        "emailType": "html",
        "message": "=<html>\n<body>\n<h2>Preventive Maintenance Notification</h2>\n<p>Dear {{ $json.assigned_supplier }},</p>\n<p>This is an automated notification regarding preventive maintenance for the following machine:</p>\n<ul>\n  <li><strong>Machine ID:</strong> {{ $json.machine_id }}</li>\n  <li><strong>Machine Name:</strong> {{ $json.name }}</li>\n  <li><strong>Location:</strong> {{ $json.location }}</li>\n  <li><strong>PM Frequency:</strong> {{ $json.pm_frequency }}</li>\n  <li><strong>Next PM Date:</strong> {{ $json.next_pm_date }}</li>\n  <li><strong>Days Until PM:</strong> {{ $json.days_until_pm }} days</li>\n</ul>\n<p><strong>AI Decision:</strong> {{ $('Get AI Decision').item.json.explanation }}</p>\n<p>Please schedule the maintenance at your earliest convenience.</p>\n<p>Best regards,<br>PM - AI-Assisted Demo</p>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-email-notif",
      "name": "Send Email (Notif Path)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1050,
        400
      ],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-action-needed",
      "name": "No Action (Wait)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        850,
        500
      ]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "merge-paths",
      "name": "Merge All Paths",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1650,
        300
      ]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "merge-wo-low-confidence",
      "name": "Merge WO Paths",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1050,
        200
      ]
    }
  ],
  "connections": {
    "When Called By Another Workflow": {
      "main": [
        [
          {
            "node": "Get AI Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get AI Decision": {
      "main": [
        [
          {
            "node": "Decision Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decision Router": {
      "main": [
        [
          {
            "node": "Check Confidence >= 0.7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Machine Details (Notif Path)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Action (Wait)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Confidence >= 0.7": {
      "main": [
        [
          {
            "node": "Create Work Order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge WO Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Work Order": {
      "main": [
        [
          {
            "node": "Get Machine Details (WO Path)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Machine Details (WO Path)": {
      "main": [
        [
          {
            "node": "Send Email (WO Path)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email (WO Path)": {
      "main": [
        [
          {
            "node": "Merge All Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Machine Details (Notif Path)": {
      "main": [
        [
          {
            "node": "Send Email (Notif Path)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email (Notif Path)": {
      "main": [
        [
          {
            "node": "Merge All Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Action (Wait)": {
      "main": [
        [
          {
            "node": "Merge All Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge WO Paths": {
      "main": [
        [
          {
            "node": "Merge All Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-08T00:00:00.000Z",
  "versionId": "1"
}
